<section class="signup-form">
<form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
<mat-form-field>
<input type="email"
placeholder=" Email"
 matInput ngModel
 name="email"
 email
 required
 #emailInput="ngModel">
 <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
 <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
</mat-form-field>
<mat-form-field hintLabel=" should be min of 8 characters">
<input type="password"
placeholder="Password"
matInput ngModel
name="password"
required
minlength="8"
#pwLen="ngModel">
<mat-hint align="end">{{pwLen.value?.length}}/8</mat-hint>
<mat-error>Password is less than 8 characters</mat-error>
</mat-form-field>
<mat-form-field>
<input
matInput
placeholder="Birthdate"
[matDatepicker]="picker"
[max]="maxDate"
 ngModel
 name="birthdate"
required>
<mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-checkbox ngModel name="agree" required color="primary">I agree to terms and conditions</mat-checkbox>
<button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">submit</button>
<mat-spinner *ngIf="isLoading"></mat-spinner>
</form>
</section>
